@font-face {
    font-family: GameFont;
    src: url("./assets/mplus-1m-regular.ttf");
}

html,
button,
input {
    font-family: GameFont;
    letter-spacing: 2px;
}


html {
    scroll-behavior: smooth;
    max-width: 1440px;
    margin: 0 auto;
}


h1 {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #43382a;
}

a:hover {
    color: #826d52;

}

header {
    padding-bottom: 3rem;
}

.registration__label,
.start__game,
.character__wrapper {
    display: flex;
    flex-direction: column;
    /* margin: 0, auto; */
    justify-self: center;
    align-self: center;
    gap: 0.3rem;

    justify-content: center;
    height: 80vh;
}

.character__wrapper {
    height: 50vh;
}

.nickname__input {
    color: rgb(45, 45, 36);
    background-color: azure;
}

.registration,
.start {
    padding: 0.2rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    cursor: pointer;
    padding: 5px 15px 5px 15px;

}


/*
* H E A D E R
*/
.header {
    text-align: center;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation-ul {
    display: flex;
    height: 20px;
    color: #fff;
    list-style: none;
    font-weight: 100;
    font-size: 1rem;
    line-height: 22px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    gap: 20px;
}

.header__navigation__ul-li {
    gap: 20px;

}

.wrapper {
    margin: 0 auto;
}

.wrapper__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}