.page__wrapper {
    display: flex;
    flex-direction: column;

}

.change {
    padding: 0.2rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    cursor: pointer;
    padding: 5px 15px 5px 15px;

}

.character__avatar__block,
.character__stat {
    padding: 2rem;
}

.character__avatar {
    display: flex;
    flex-direction: row;
}