.registration__label {
    display: flex;
    flex-direction: column;
    margin: 0, auto;
    justify-self: center;
    align-self: center;
    border: 2px solid black;
    border-radius: 1.6rem;
}

.nickname__input {
    color: rgb(45, 45, 36);
    background-color: azure;
}