@font-face {
    font-family: GameFont;
    src: url("./assets/mplus-1m-regular.ttf");
}

html,
button,
input {
    font-family: GameFont;
}


html {
    scroll-behavior: smooth;
}


h1 {
    font-weight: 500;
}

.registration__label,
.start__game {
    display: flex;
    flex-direction: column;
    /* margin: 0, auto; */
    justify-self: center;
    align-self: center;
    gap: 0.3rem;

    justify-content: center;
    height: 80vh;
}

.nickname__input {
    color: rgb(45, 45, 36);
    background-color: azure;
}

.registration,
.start {
    padding: 0.2rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    cursor: pointer;

}