.page__wrapper {
    display: flex;
    flex-direction: column;

}

.change {
    padding: 0.2rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    cursor: pointer;
    padding: 5px 15px 5px 15px;

}

.character__avatar__block,
.character__stat {
    padding: 2rem;
}

.character__avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.avatar {
    opacity: 0.6
}

.avatar:hover {
    background: rgb(0, 0, 0);
    opacity: 0.8;
}

.avatar.selected {
    border: 2px solid rgb(13, 13, 159);
    opacity: 1;
}